body {
    padding-top: 70px;
}

.navbar .nav {
    padding-left: 20px;
}

.scrollbox {
    overflow: auto;
    height: 100%;
}

#test {
    background-image: url("../images/office.png");
    background-repeat: no-repeat;
    /*width: 800px;*/
    height: 654px;
}

.scrollbox ul {
    list-style-type: none;
}

.scrollbox li{
    padding: 10px 0px 10px 0px;
}

.pic {
    width: 75px;
    height: 75px;
    float: left;
    border-radius: 50%;
}

.details {
    display: inline-block;
    width: 100%;
    font-size: 100%;
}

