<div class="scrollbox">
    <ul>
        <li ng-repeat="user in users">
            <div class="details">
                <img src="{{user.photo}}" class="pic"/>
                <a ng-href="#/user/{{user.id}}"><h4 ng-bind="user.first_name + ' ' + user.last_name"></h4></a>
                <h5 ng-bind="user.post"></h5>
            </div>
        </li>
    </ul>
</div>
