<div class="jumbotron">
   <img src="{{user.photo}}">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <h2>Post: {{user.post}}</h2>
    <h3>Age: {{user.age}}</h3>
    <h3>Phone number: {{user.phone_number}}</h3>
</div>